@mixin flexprob{
    display: flex;
   align-items:  center;
   justify-content: space-between;  

}
@mixin flexbars{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
@mixin list{
    list-style: none;

}
@mixin button{
    color: #FFF;
    border-radius: 6px;
    font-size: 18px;
   background-color: #FF543E;
   text-align: center;
}@mixin h2{
    font-size: 44px;
font-style: normal;
font-weight: 600;
line-height: 52px; /* 118.182% */
}
@mixin h1{
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px; 
    text-transform: capitalize;
}
